In [ ]:
Problem Statement - Cred-Pay
Background
Cred-Pay is a consultation firm that partners with banks and checks if their customers are eligible for a credit card. They are a startup just at the roots of starting their business. They have partnered with a few banks and are currently collecting data for credit card applications.

 

Objective
You have been hired as a Data Scientist to handle and organize the data. You are responsible to organize the data so that it will be easily accessible and to help the company predict if the application can be accepted for a credit card or not.

 

Key Questions
How to create organized data using variables and data structures?
How to organize and query the data?

<center><p float="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/4_RGB_McCombs_School_Brand_Branded.png" width="300" height="100"/>
  <img src="https://mma.prnewswire.com/media/1458111/Great_Learning_Logo.jpg?p=facebook" width="200" height="100"/>
</p></center>

<h1><center><font size=8>Artificial Intelligence and Machine Learning</center></font></h1>
<h1><center>Python Foundations - Week 1</center></h1>
<center>Variables, Datatypes, Data Structures, Conditional Statements, Loops, Functions</center>

<center><img src="https://images.unsplash.com/photo-1620714223084-8fcacc6dfd8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" width="1000" height="600"></center>

<b><h2><center>Cred-Pay Case Study</center></h2></b>

## Problem Definition

### **Business Context**

**Cred-Pay** is a consultation firm that partners with banks and checks if their customers are eligible for a credit card. They are a startup just at the roots of starting their business. They have partnered with a few banks and are currently collecting data for credit card applications.


### **Objective**
You have been hired as a Data Scientist to handle and organize the data. You are responsible to organise the data so that, it will be easily accessible and help the company predict, if the application can be accepted for a credit card or not. 

#### **Solution Approach**
You have tried to understand how the credit card works and what all factors come into play. You can organize the data so that the company can help banks to provide credit cards to the customers. You have considered some features related to credit card applications. Some of them are Customer ID, Credit score, age of customer, debt status, and the number of existing credit cards.

Following is the data that you have extracted and listed down, Let's try to build it into data that can be easily accessible and we can gain some insights from it.

| cid | credit_score | age_of_customer | debt_status| no_of_existing_credit_cards|
| --- | --- | --- | --- | --- | 
| cid-0001 | 650 | 25 | in-debt | 3 |
| cid-0002 | 723 | 28 | no debt | 2 |
| cid-0003 | 581 | 38 | no-debt | 4 |
| cid-0004 | 462 | 41 | in-debt | 1 |
| cid-0005 | 773 | 62 | no-debt | 2 |


## 1.0 Organizing data in appropriate format

### 1.1 Storing customer details as variables

Let's start with storing the information in the form of variables and try to work with them.

Let's try to create a variable to store a feature **customerid**

In [43]:
cid = 'cid-0001' #  a variable is created with name cid and a value is stored as cid-0001 in the variable
print('The Customer ID of the first customer is',cid) #to display the value of the variable or a statement

The Customer ID of the first customer is cid-0001

Well this works, let's save other customer id's in the same manner.

In [41]:
# Creating multiple variables to store unique customer id
cid1 = 'cid-0001'
cid2 = 'cid-0002'
cid3 = 'cid-0003'
cid4 = 'cid-0004'
cid5 = 'cid-0005'

**What are Variables ?**

>Variables are used to store any type of data.
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
* Variable names are case-sensitive (age, Age and AGE are three different variables)

But if we proceed this way we will have to create multiple variables to store a single feature **(this is not an ideal way to store or access data)**


What if we try to store this data as a list ?

### 1.2 Organizing and querying the data

**What is a List?**
> A list in Python is an ordered group of items or elements which are stored in a single variable.

**How do we define a list?**
> Lists are created using square brackets, and the elements are seperated by comma.
```
list_name = [element1, element2,...., element_n]
```

In [49]:
cid = ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'] # elements of lists are seperated by comma

## Let's print the list to see if this works
print("Customer ID:",cid)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

* These work well and now we can store similar features by creating only single data element
* Let's create lists for Credit Score, Age of the Customer, Debt Status, and the number of active Credit Cards a customer uses.

In [50]:
credit_score = [650, 723, 581, 462, 773]   # list for storing credit score
age_of_customer = [25, 28, 38, 41, 62]     # list for sotring age of the customer
debt_status = ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']  # list to store the debt status
no_of_existing_credit_cards = [3, 2, 4, 1, 2] # list to store the number of exisitng credit cards

In [51]:
#Let's print all the features stored as list
print("Customer ID:", cid)
print("Credit Score:", credit_score)
print("Age of Customer:", age_of_customer)
print("Debt Status:", debt_status)
print("Number of existing Credit Cards:", no_of_existing_credit_cards)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']
Credit Score: [650, 723, 581, 462, 773]
Age of Customer: [25, 28, 38, 41, 62]
Debt Status: ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']
Number of existing Credit Cards: [3, 2, 4, 1, 2]

In [107]:
print(len(cid))
print(len(credit_score))
print(len(age_of_customer))
print(len(debt_status))
print(len(no_of_existing_credit_cards))

5
5
5
5
5

Great! now as the lists are created, let's try to fetch some data.

Let's say we want to get all the details of the customer whose id is "cid-0002"

**How are Lists indexed?**
> List items are ordered and their indexing starts from 0 from beginning.
Let's say the elements stored in the index are a, b, c and d. Then the index will be as follows.

![index.png]()

In [99]:
## To get data of cid-0002 we need to first find the index of the same.
pos = cid.index('cid-0001') # index() is used to fetch the index of the value mentioned
print(pos)                  # Printing the index of 'cid-0002'

0

In [104]:
## Now that we know the index, let's call the value stored at the index for all the lists.
print(cid[pos])
print(credit_score[pos])
print(age_of_customer[pos])
print(debt_status[pos])
print(no_of_existing_credit_cards[pos])

cid-0001
650
25
no-debt
3

Well this is amazing, we can fetch the data in a much organised manner. 

We just received information that the debt status for cid-0001 needs to be changed as the customer is in debt now. Let's update the same in the list.

In [98]:
#Let's first find the index of cid-0001
pos = cid.index('cid-0001')     #saving the index of cid-001 in pos

In [105]:
#Let's assign the updated status
debt_status[pos] = 'in-debt'    #updating debt_status for the index variable pos

In [106]:
debt_status                     #printing the list debt status

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

Great! We can see the data updation is easy to do with lists.

### 1.3 Updating customer data based on conditions

We recently got an update from Cred-Pay that we need to update the credit score of all users. 
The Credit score is calculated based on 4 factors,

1.   Payment History(High impact)
2.   Credit Utilisation Ratio(High impact)
3.   Age of the Credit(Medium impact)
4.   Total Accounts(Low impact)

Since Payment History has a huge impact on the Credit Score we have to update the score based on the user's history of on-time payment.

For this, first, we have to create a list called **prec_on_time**, which stores the percentage of on-time payments done by the user. If a user's prec_on_time is **greater than 0.7**, then we have to increase their credit score by **2%**. 

Let's also print the customerid for those, whose credit score will be updated. Let's try this out.

In [108]:
# Let's first create the list prec_on_time
# Assume that the below random numbers is the on-time payment percentage
prec_on_time = [0.62, 0.78, 0.20, 0.32, 0.85]

In [109]:
len(prec_on_time)

5

Now, since we want to increase the credit score by 2%, we will first check if the prec_on_time value is greater than 0.7. We can do this with the help of conditional statements.

**What are Conditional Statements?**

> Conditional statements are an important part of decision-making in Python. Results are generated for the satisfied condition.

**If Else Conditional Statement**

> The if-else statement in Python is used for decision-making. The general syntax of an if-else statement is:
```
 if (test expression):
    Body of if
 else:
    Body of else
 ```
>It contains a body of code which runs only when the condition given in the if statement is true. If the condition is false, then the optional else statement runs which contains some code for the else condition.

In [121]:
for c_id in range(0,len(cid)):
    if prec_on_time[c_id] > 0.7:
        credit_score[c_id] = round(credit_score[c_id] * 1.02)   #adding 2% will be equal to 1+0.02 = 1.02
        print('Credit Score updated for', cid[c_id])
    else:
        print('Credit Score is same for', cid[c_id])

Credit Score is same for cid-0001
Credit Score updated for cid-0002
Credit Score is same for cid-0003
Credit Score is same for cid-0004
Credit Score updated for cid-0005

In [ ]:
Credit Score is same for cid-0001
Credit Score updated for cid-0002
Credit Score is same for cid-0003
Credit Score is same for cid-0004
Credit Score updated for cid-0005

In [115]:
if prec_on_time[0] > 0.7:                   
    credit_score[0] = round(credit_score[0] * 1.02)   #adding 2% will be equal to 1+0.02 = 1.02
    print('Credit Score updated for cid-0001')
else:
    print('Credit Score is same for cid-0001')

if prec_on_time[1]>0.7:
    credit_score[1] = round(credit_score[1] * 1.02)
    print('Credit Score updated for cid-0002')
else:
    print('Credit Score is same for cid-0002')
    
if prec_on_time[2]>0.7:
    credit_score[2] = round(credit_score[2] * 1.02)
    print('Credit Score updated for cid-0003')
else:
    print('Credit Score is same for cid-0003')
    
if prec_on_time[3]>0.7:
    credit_score[3] = round(credit_score[3] * 1.02)
    print('Credit Score updated for cid-0004')
else:
    print('Credit Score is same for cid-0004')
    
if prec_on_time[4]>0.7:
    credit_score[4] = round(credit_score[4] * 1.02)
    print('Credit Score updated for cid-0005')
else:
    print('Credit Score is same for cid-0005')

Credit Score is same for cid-0001
Credit Score updated for cid-0002
Credit Score is same for cid-0003
Credit Score is same for cid-0004
Credit Score updated for cid-0005

In [116]:
credit_score

[650, 767, 581, 462, 820]

Great we can see the credit score is updated for cid-0002 and cid-0005. This worked since we had only 5 users but it will be very time consuming and repetitive if we have many users. We should find a better way of coding that allows us to iterate through the list more easily.

Let's say, we have to reduce the credit score for those users whose prec_on_time is less than 40% by 2%

To avoid repetition of code we will use Looping Statements

**What are Looping Statements?**

> Loops are used in Python to iterate over a sequence.

**What are the different types of loops in Python?**

*   For Loop
*   While Loop

**For Loop** 

The syntax of the 'for loop' is:

```
for iterator_var in sequence:
    statements(s)
```
**While Loop**
The syntax of the 'for loop' is:
```
while condition:
    statement(s)
```

We will use for loop in this case

In [117]:
if prec_on_time[0]<0.4:                   
    credit_score[0] = round(credit_score[0] * .98)   
    print('Credit Score updated for cid-0001')
else:
    print('Credit Score is same for cid-0001')

if prec_on_time[1]<0.4:
    credit_score[1] = round(credit_score[1] * .98)
    print('Credit Score updated for cid-0002')
else:
    print('Credit Score is same for cid-0002')
    
if prec_on_time[2]<0.4:
    credit_score[2] = round(credit_score[2] * .98)
    print('Credit Score updated for cid-0003')
else:
    print('Credit Score is same for cid-0003')
    
if prec_on_time[3]<0.4:
    credit_score[3] = round(credit_score[3] * .98)
    print('Credit Score updated for cid-0004')
else:
    print('Credit Score is same for cid-0004')
    
if prec_on_time[4]<0.4:
    credit_score[4] = round(credit_score[4] * .98)
    print('Credit Score updated for cid-0005')
else:
    print('Credit Score is same for cid-0005')

Credit Score is same for cid-0001
Credit Score is same for cid-0002
Credit Score updated for cid-0003
Credit Score updated for cid-0004
Credit Score is same for cid-0005

In [14]:
for i in range(0,5):
    if prec_on_time[i] <0.4:
        credit_score[i] = round(credit_score[i] * .98)   #subtracting 2% will be equal to 1-0.02 = 0.98 
        print('Credit Score updated for',cid[i])
    else: 
        print('Credit Score is same for',cid[i])

Credit Score is same for cid-0001
Credit Score is same for cid-0002
Credit Score updated for cid-0003
Credit Score updated for cid-0004
Credit Score is same for cid-0005

Amazing we are now able to run loops and even check conditions with minimal amount of code.

Let's try playing with the data a few more times.

**Let's find out how many people have credit score greater than 700?**

In [120]:
len(cid)

5

In [123]:
credit_score

[650, 782, 569, 453, 836]

In [140]:
del c_id

In [144]:
# Initialize counter to increment the customer count

customer_score_above_700 = []
customer_score_below_700 = []


for c_id in range(0,len(cid)):
    if credit_score[c_id]>700:
        #count +=1 # Incrementing count counter by 1 when the credit score is greater than 700
        customer_score_above_700.append(cid[c_id])
    else:
        customer_score_below_700.append(cid[c_id])
        
print('Number of people having credit score greater than 700:',len(customer_score_above_700))
print(customer_score_above_700)
print(customer_score_below_700)

Number of people having credit score greater than 700: 2
['cid-0002', 'cid-0005']
['cid-0001', 'cid-0003', 'cid-0004']

**Can we check How many people have more than 2 credit cards?**

In [16]:
# Initialize counter to increment the customer count
count = 0

for i in range(0,len(cid)):
     if no_of_existing_credit_cards[i]>2:
        count +=1 # Incrementing count counter by 1 when number of credit cards are greater than 2
print('Number of people having more than 2 credit cards:',count)

Number of people having more than 2 credit cards: 2

**Can we count how many people are in debt and how many are in not debt ?**

In [147]:
debt_status

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

In [158]:
num_int = 0
print(num_int)
num_int+=1
print(num_int)
print(type(num_int))
num_int+ []

0
1
<class 'int'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [160]:
# Initialize counters to increment in-debt and not in debt customer counts
indebt = 0
nodebt = 0

print(type(indebt))
print(type(nodebt))

for i in range(0,len(cid)):
    if debt_status[i]=='in-debt':
        print(indebt)
        indebt+=1   # Incrementing indebt counter by 1 when the customer is in debt
        print(indebt)
    else:
        nodebt+=1   # Incrementing nodebt counter by 1 when the customer is not in debt
# Printing the number of people in-debt and not in debt
print('Number of people in debt :',indebt)
print('Number of people with no debt ',nodebt)

<class 'int'>
<class 'int'>
0
1
1
2
Number of people in debt : 2
Number of people with no debt  3

In [161]:
# Initialize counters to increment in-debt and not in debt customer counts
indebt = []
nodebt = []

for i in range(0,len(cid)):
    if debt_status[i]=='in-debt':
        print(indebt)
        indebt.append(cid[i]) # Incrementing indebt counter by 1 when the customer is in debt
        print(indebt) 
    else:
        nodebt.append(cid[i])  # Incrementing nodebt counter by 1 when the customer is not in debt
# Printing the number of people in-debt and not in debt
print('Number of people in debt :',len(indebt))
print('Number of people with no debt ',len(nodebt))

[]
['cid-0001']
['cid-0001']
['cid-0001', 'cid-0004']
Number of people in debt : 2
Number of people with no debt  3

**Let's try to print all the information of customer whose customer id = cid-0002**

In [163]:
for i in range(0,len(cid)):
    if cid[i] == 'cid-0002':
        print('---------------------------------------------------------------------')
        print( 'Customer ID:',cid[i])
        print( 'Credit Score:',credit_score[i])
        print( 'Age of the Customer:',age_of_customer[i])
        print( 'Debt Status:',debt_status[i])
        print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[i])
    else:
        print('Condition not met')

Condition not met
---------------------------------------------------------------------
Customer ID: cid-0002
Credit Score: 782
Age of the Customer: 28
Debt Status: no-debt
Number of existing Credit Cards: 2
Condition not met
Condition not met
Condition not met

### 1.4 Modular way of updating data

Awesome! But if we have to check for any other user we will have to write the above code again, that will not be a very ideal way to write code. 

We should try using a function.

**What is a Function in Python?**

>In Python, a function is a block of instructions that performs a specific task.

**Why to use Functions?**
>Functions break the program into modular chunks which can be reused later. Functions are used to make the program more organized and manageable.

**How do we create a Function?**

The syntax for the function is:
```
def function_name(parameters):
	statement(s)
  return statement
```
An optional return statement is used to return value(s) from the function.

**What are parameters in Functions?**
>Parameters are variables through which we pass values to a function. Parameters are optional for function definition.

In [19]:
def customer_info(c_id): # def(keyword) is used to define a function followed by the function name and parameters
    for i in range(0,len(cid)): # setting up a for loop to iterate through all the customer id's
        if cid[i] == c_id:
            print('---------------------------------------------------------------------')
            print( 'Customer ID:',cid[i])
            print( 'Credit Score:',credit_score[i])
            print( 'Age of the Customer:',age_of_customer[i])
            print( 'Debt Status:',debt_status[i])
            print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[i])

**Print the details of Customer whose id is 'cid-0001'**

In [20]:
customer_info('cid-0001') # Calling the above defined function

---------------------------------------------------------------------
Customer ID: cid-0001
Credit Score: 650
Age of the Customer: 25
Debt Status: in-debt
Number of existing Credit Cards: 3

**Print the details of Customer whose id is 'cid-0002'**

In [21]:
customer_info('cid-0003')

---------------------------------------------------------------------
Customer ID: cid-0003
Credit Score: 569
Age of the Customer: 38
Debt Status: no-debt
Number of existing Credit Cards: 4

### 1.5 Combining all the data into a single data element

Amazing! Now we are able to fetch data with a single command.

But as you can see the data is currently segregated into different lists. We are just calling all the lists to fetch the data. In other words, all the lists are independent and we are fetching data by matching the index. We need to club the data into one single structure.

Let's try to combine these into a dictionaries.

**What is a Dictionary?**
>Dictionaries are used to store data values in key:value pairs.

**What's so special about Dictionary?**
>Dictionary items are ordered, changeable, and does not allow duplicates.

**How to declare a Dictionary?**
>Syntax for the dictionary is:
> ```
 dictionary = {'key1':value1,'key2':value2,...,'key_n':value_n}
```

In [175]:
state = {'Texas':{'Pop':3434}} # dictionary
states = ['TX','CA']  # list

In [173]:
states[0]

'TX'

In [178]:
state['Texas']

{'Pop': 3434}

In [180]:
# dictionary is created with key and value pairs
df1 = {
    'cust_id': cid, 
    'cred_score': credit_score, 
    'age': age_of_customer,
    'debt_status':debt_status,
    'curr_cred_cards':no_of_existing_credit_cards
}

In [23]:
df1 # printing the dictionary

{'cust_id': ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'],
 'cred_score': [650, 737, 569, 453, 788],
 'age': [25, 28, 38, 41, 62],
 'debt_status': ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'],
 'curr_cred_cards': [3, 2, 4, 1, 2]}

**How to access any value from dictionary?**
>Any value of Dictionary can be accessed by calling the key value 
```
dictionary['key']
```

In [24]:
df1['cust_id'] # fetch all the values under the key 'cust_id'

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [25]:
df1['cust_id'][2] # to fetch the 3rd element in the list 'cust_id'

'cid-0003'

**Let's get all the information for the Customer whose id is 'cid-0004'**

We can do this by iterating the index for a fixed list index. We can achieve that with **items()** method.

In [181]:
for key, value in df1.items():  # Iterating through all the keys of dictionary, with values index as constant
    print(key ,value)

cust_id ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']
cred_score [650, 782, 569, 453, 836]
age [25, 28, 38, 41, 62]
debt_status ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']
curr_cred_cards [3, 2, 4, 1, 2]

Dictionaries are working well for fetching the existing data, but conditional data pulling will be difficult to achieve in this case. 

If only we had a better way to organize data where it will be organized, systematic, and easy to perform all the operations that we did above.

We can do that by using some libraries which can do all these operations with a single piece of code. Libraries in python contain precompiled codes that can be used for defined operations. They make python programming simpler, as you don't have to create the same functions again and again when you work on a new project. These libraries are readily available and can be called upon by importing the library to the notebook. 

So in this case we will create a dataframe, But for that, we need to import pandas (a library used for data analysis and manipulation)

## 2.0 Getting data into a convinient structure

**What is the Pandas Library?**

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. It is fast, flexible, and expressive data structure designed to make working with 'numerical' or 'categorical' data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.

**Why do we use Pandas?**
- Used for analyzing, cleaning, exploring, and manipulating data.

- Pandas allows us to analyze big data and make conclusions.

- It is an important library in data science to get insights from data
<img src="https://www.w3resource.com/w3r_images/pandas-data-structure.svg" />

### 2.1 Converting the dictionary into a pandas dataframe

In [196]:
# import is used to call upon any library that is installed in the system.
import pandas as pd # anything after 'as' will become an alias for the library name

 Let's create a dataframe from the existing dictionary

In [219]:
# dictionary is created with key and value pairs
df2 = {
    'cust_id': cid, 
    'cred_score': credit_score, 
    'age': age_of_customer,
    'debt_status':debt_status,
    'curr_cred_cards':no_of_existing_credit_cards,
    'prec_on_time':prec_on_time
}

In [220]:
# Dataframe can be created by using the function pd.Dataframe
df = pd.DataFrame(df2)

In [226]:
df

    cust_id  cred_score  age debt_status  curr_cred_cards  prec_on_time
0  cid-0001         650   25     in-debt                3          0.62
1  cid-0002         782   28     no-debt                2          0.78
2  cid-0003         569   38     no-debt                4          0.20
3  cid-0004         453   41     in-debt                1          0.32
4  cid-0005         836   62     no-debt                2          0.85

In [234]:
df.columns

Index(['cust_id', 'cred_score', 'age', 'debt_status', 'curr_cred_cards',
       'prec_on_time'],
      dtype='object')

In [227]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [228]:
df.loc[0]

cust_id            cid-0001
cred_score              650
age                      25
debt_status         in-debt
curr_cred_cards           3
prec_on_time           0.62
Name: 0, dtype: object

In [232]:
df['cred_score']

0    650
1    782
2    569
3    453
4    836
Name: cred_score, dtype: int64

In [230]:
type(df['cred_score'])

pandas.core.series.Series

In [244]:
df

,cust_id,cred_score,age,debt_status,curr_cred_cards,prec_on_time,super_old,risky
0,cid-0001,650,25,in-debt,3,0.62,adult,False
1,cid-0002,782,28,no-debt,2,0.78,adult,False
2,cid-0003,569,38,no-debt,4,0.20,adult,True
3,cid-0004,453,41,in-debt,1,0.32,adult,False
4,cid-0005,836,62,no-debt,2,0.85,adult,False

In [238]:
def age_func(x):
    if x > 18:
        return 'adult'
    else:
        return 'minor'

In [243]:
df['risky'] = df['curr_cred_cards'].map(lambda x: x > 3)

In [223]:
type(df['prec_on_time'])

pandas.core.series.Series

In [ ]:
df['cred_score'] = df['prec_on_time'].map(func)

In [210]:
# Let's print the dataframe
df[(df['cred_score'] > 700) & (df['age'] > 60)]

    cust_id  cred_score  age debt_status  curr_cred_cards
4  cid-0005         836   62     no-debt                2

In [214]:
def poor_credit_func(x):
    if x < 600:
        return True
    else:
        return False

In [217]:
df['poor_credit'] = df['cred_score'].map(lambda x: x < 600)

In [224]:
type(df)

pandas.core.frame.DataFrame

Great! this look much better and looks organised, and along with this dataset created we can find a lot's of insights about the data with ease.

### 2.2 Accessing and analysing the data

In [30]:
# let's print top 3 data entries
df.head(3) # without any value inside the brackets, it will print the top 5 entries of the data

    cust_id  cred_score  age debt_status  curr_cred_cards
0  cid-0001         650   25     in-debt                3
1  cid-0002         737   28     no-debt                2
2  cid-0003         569   38     no-debt                4

In [31]:
# Let's print the last 3 data entries 
df.tail(3) # without any value inside the brackets, it will print the last 5 entries of the data

    cust_id  cred_score  age debt_status  curr_cred_cards
2  cid-0003         569   38     no-debt                4
3  cid-0004         453   41     in-debt                1
4  cid-0005         788   62     no-debt                2

We can create statistical summary of data with ease.

In [32]:
# Let's create statistical summary
df.describe()

       cred_score        age  curr_cred_cards
count    5.000000   5.000000         5.000000
mean   639.400000  38.800000         2.400000
std    133.623725  14.584238         1.140175
min    453.000000  25.000000         1.000000
25%    569.000000  28.000000         2.000000
50%    650.000000  38.000000         2.000000
75%    737.000000  41.000000         3.000000
max    788.000000  62.000000         4.000000

In [33]:
# To get the dimension of the data we use shape, that returns a tuple with number of rows and columns
df.shape

(5, 5)

In [34]:
# To get the infromation about the number of columns, rows datatype and memory usage we use info function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cust_id          5 non-null      object
 1   cred_score       5 non-null      int64
 2   age              5 non-null      int64
 3   debt_status      5 non-null      object
 4   curr_cred_cards  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes